.form {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
  margin: 0 auto 90px;
  max-width: 952px;
}

.form__fieldset {
  border: none;
  display: flex;
  gap: 12px;
  margin: 0;
  padding: 0;
}

.form__input {
  max-width: 204px;
}

.form__button_type_index {
  width: 100%;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 64px 16px;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
  max-width: 944px;
  padding: 0;
}

.wrapper__circle {
  display: flex;
  align-items: center;
  gap: 16px;
}
